:root {
    --background-primary: #171717;
    --background-secondary: #2f2f2f;
    --background-secondary-bright: #3b3b3b;
    --background-tertiary: #404040;

    --text-primary: #ffffff;
    --text-secondary: #d8d8d8;

    --text-accent-primary-inactive: #75b6e7;
    --text-accent-primary-active: #75b6e7;

    --element-margin: 10px;

    --regular-text-font: 'Segoe UI';
    --code-text-font: monospace;
}

body {
    background-color: var(--background-primary);
    max-width: 1000px;
    margin: auto;

    font-family: var(--regular-text-font);
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
}

/*text*/
h1 {
    font-weight: 600;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
}

.text {
    margin-bottom: var(--element-margin);
    color: var(--text-primary);
}

a {
    margin-bottom: var(--element-margin);

    color: var(--text-accent-primary-inactive);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

a:hover{
    color: var(--text-accent-primary-active);
    text-decoration: underline;
}

/*codeblocks*/
code {
    background-color: var(--background-secondary);
    padding: 0px 2px 0px 2px;

    font-family: var(--code-text-font);
    color: var(--text-secondary);
}

.code-block {
    background-color: var(--background-secondary);
    border: 3px solid var(--background-tertiary);
    margin-bottom: var(--element-margin);
    grid-template-columns: 32px auto;
    display: grid;

    font-family: var(--code-text-font);
    color: var(--text-primary);
    font-size: 14px;
}

.code-block-line-indices  {
    background-color: var(--background-tertiary);
    padding: 0px 4px 0px 2px;
    display: inline-block;

    color: var(--text-secondary);
}

.code-block-code {
    background-color: var(--background-secondary);
    display: table;
    width: 100%;
}

.code-block-line-parent {
    background-color: var(--background-secondary);
}

.code-block-line-parent:hover {
    background-color: var(--background-secondary-bright);
}

.code-block-line {
    color: var(--text-primary);
    white-space: pre;
    height: 17px;
    padding-left: 3px;
}

.code-block-scroll-view {
    scrollbar-color: var(--text-secondary) #404040;
    scrollbar-width: thin;
    overflow-x: auto;
}

.control-keyword {
    color: #e099f1;
}

.type-keyword {
    color: #5aa5f0;
}

.numerical-literal {
    color: #c4eba8;
}

.text-literal {
    color: #e09b79;
}

.function-name {
    color: #e4e6a3;
    font-weight: bold;
}

.comment {
    color: #66b346;
}

.include-keyword {
    color: #9a9a9a;
}

.include-path {
    color: #e09b79;
}

.custom-type {
    color: #5ed6b8;
    font-weight: bold;
}

.enum-type {
    color:#bedfa6;
}

.operator {
    color: #b4b4b4;
}

/*lists*/
ol, ul {
    color: var(--text-primary);
}
