:root {
	--background: #000000;
	/*text*/
	--plaintext: #ffffff;
	--disclaimer: #ff0a0a;
	--link: #0a74ff;
	/*code*/
	--code: #ffffff;
	--code-comment-bg: #00ff00;
	--code-comment: #000000;
	--code-keyword: #ff00ff;
	--code-attribute: #00b7b7;
	--code-identifier: #00ffff;
	--code-string: #ffabf7;
	--code-number: #98fff5;
	--code-bool: #98fff5;

	--font-serif: "Noto Serif", serif;
}

body {
	background: var(--background);
	color: var(--plaintext);
	max-width: 650px;
	margin: 0 auto;
	padding: 20px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	/*font*/
	font-family: var(--font-serif);
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-variation-settings: "wdth" 100;
}

* {
	margin-top: 2px;
	margin-bottom: 2px;
}

a {
	color: var(--link);
	font-weight: bold;
}

ul {
	margin-left: -23px;
}

img,
video {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	display: block;
}

.disclaimer {
	color: var(--disclaimer);
	font-style: italic;
}

code {
	color: var(--code);
	font-size: 15px;
}

/*code blocks*/
pre code.hcj {
	display: block;
	overflow-x: auto;
	padding: 4px;
}

.code-comment,
.hcj-comment,
.hcj-quote {
	color: var(--code-comment);
	background: var(--code-comment-bg);
	font-weight: bold;
}

.code-keyword,
.hcj-doctag,
.hcj-formula,
.hcj-keyword {
	color: var(--code-keyword);
}

.hcj-deletion,
.hcj-section,
.hcj-selector-tag,
.hcj-subst {
	color: green;
}

.hcj-literal {
	color: var(--code-bool);
}

.hcj-addition,
.hcj-attribute,
.hcj-meta .hcj-string,
.hcj-regexp {
	color: red;
}

.code-attribute,
.hcj-attr,
.hcj-selector-attr,
.hcj-selector-class,
.hcj-selector-pseudo,
.hcj-template-variable,
.hcj-type,.hcj-variable {
	color: var(--code-attribute);
}

.code-identifier,
.hcj-bullet,
.hcj-link,
.hcj-selector-id,
.hcj-symbol,
.hcj-title {
	color: var(--code-identifier);
	font-weight: bold;
}

.hcj-meta {
	color: red;
	font-weight: bold;
}

.hcj-name {
	color: red;
}

.code-string,
.hcj-string {
	color: var(--code-string);
}

.code-number,
.hcj-number {
	color: var(--code-number);
}

.hcj-built_in,
.hcj-class .hcj-title,
.hcj-title.class_ {
	color: var(--code-identifier);
	font-weight: bold;
}

.hcj-emphasis {
	font-style: italic;
}

.hcj-strong {
	font-weight: 700;
}

.hcj-link {
	text-decoration: underline;
}

/*profile section*/
.profile-card {
	display: grid;
	grid-template-columns: 1fr auto;
	gap:10px;
	align-items: stretch;
}

.bio-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pfp {
	height: 138px;
	width: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	align-self: center;
}

@media (max-width: 680px) {
	.profile-card {
		grid-template-columns: 1fr;
	}

	.pfp {
		height: auto;
		width: 100%;
		order: -1;
	}
}

/*media*/
.media-list {
	column-width: 250px;
	column-gap: 4px;
	row-gap: 4px;
}

.media-list a {
	display: block;
	margin-bottom: 4px;
	break-inside: avoid;
}

.media-list img,
.media-list video {
	margin-top: 0px;
	margin-bottom: 0px;
}
